In [89]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [9]:
data=pd.read_csv('advertising.csv')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [12]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [63]:
data.shape

(200, 4)

In [22]:
p=sns.pairplot(data=data,x_vars=['TV','Radio','Newspaper'],y_vars='Sales',size=8)

/Users/indukanduri/opt/anaconda3/lib/python3.9/site-packages/seaborn/axisgrid.py:2076: UserWarning: The `size` parameter has been renamed to `height`; please update your code.
  warnings.warn(msg, UserWarning)

In [33]:
p=sns.scatterplot(data=data,x="TV",y="Sales")

In [39]:
x=data.drop(['Sales'],axis=1)
y=data.Sales

In [41]:
y.head()

0    22.1
1    10.4
2    12.0
3    16.5
4    17.9
Name: Sales, dtype: float64

In [70]:
sc=StandardScaler()
x=sc.fit_transform(x)

In [104]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)
x_train.shape

(160, 3)

In [105]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [106]:
model=LinearRegression()

In [107]:
model.fit(x_train,y_train)

LinearRegression()

In [108]:
y_prediction=model.predict(x_test)

In [109]:
r2_score(y_test,y_prediction)

0.8694756429408381

In [111]:
model.score(x_test,y_test)

0.8694756429408381